@font-face { font-family: Blackout-2am; src: url('Blackout-2am.ttf'); } 
@font-face { font-family: Blackout-Midnight; src: url('Blackout-Midnight.ttf'); } 

body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
    color: #1F355B;
    font-size: 125%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div.title {
    position: relative;
    text-align: center;
    top: 40vh;
    font-family: Blackout-Midnight;
    font-size: 900%;
}

div.ComingSoon {
    position: relative;
    text-align: center;
    top: 40vh;
    font-family: Blackout-Midnight;
    font-size: 400%;
}

div.Title {
    position: relative;
    text-align: center;
    top: 5vh;
    font-family: Blackout-Midnight;
    font-size: 300%;
}

div.typeform-widget {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

span.Running {
    font-family: Blackout-Midnight;
    background-color: #34A6FF;
    color: #FFFFFF;
    padding-left: 10px;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

a:link {
    color: #1F355B;
}

a:visited {
    color: #1F355B;
}

a.contact {
    color: #34A6FF;
}

a.contact:visited {
    color: #34A6FF;
}

a.contact:hover {
    color: #1f1f1f;
}

a.home:hover {
    color: #34A6FF;
}

a.team:hover {
    color: #34A6FF;
}

a.practices:hover {
    color: #34A6FF;
}

a.gallery:hover {
    color: #34A6FF;
}

a.racecalendar:hover {
    color: #34A6FF;
}