@font-face { font-family: Blackout-2am; src: url('Blackout-2am.ttf'); } 
@font-face { font-family: Blackout-Midnight; src: url('Blackout-Midnight.ttf'); } 

body {
    color: #1F355B;
    font-size: 125%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul.menu {
    z-index: 1;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
}

li a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

div.containerTitle {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    font-family: Blackout-Midnight;
    font-size: 900%;
    height: 75vh;
    top: 70px;
}

div.UCSBRUNNING {
    position: relative;
    top: 35vh;
}

span.Running {
    background-color: #34A6FF;
    color: #FFFFFF;
    padding-left: 10px;
}

div.container {
    position: relative;
    text-align: center;
    font-family: Blackout-Midnight;
    font-size: 400%;
}

.item1 { 
    grid-area: topleft;
    background-image: url('card1.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 700px;
}
.item2 { 
    grid-area: topright; 
    background-image: url('card2.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 700px;
}
.item3 { 
    grid-area: botleft; 
    background-image: url('card3.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 700px;
}
.item4 { 
    grid-area: botright; 
    background-image: url('card4.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 700px;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'topleft topright'
      'botleft botright';
}

.picture {
    position: relative;
    top: 60px;
    left: 40px;
}

.name {
    position: relative;
    top: -10px;
    left: 5px;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40%;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

.title {
    font-size: 50%;
}

.bio {
    font-size: 35%;
    line-height: 1px;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.twocolumn {
    display: grid;
    grid-template-areas:
      'left right';
}

div.column {
    position: relative;
    padding: 0px;
    margin: 0px;
}

.column p {
    margin: 0;
    padding: 10px;
    position:absolute;
    left:0;
    bottom:0;   
}

div.links {
    background-color: #D8D8D8;
    color: #4B4B4B;
    text-decoration: none;
    padding: 60px;
}

div.links a:hover {
    color: black;
    font-size: 105%;
}

div.container p {
    padding-top: 80px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

a:link {
    color: #1F355B;
}

a:visited {
    color: #1F355B;
}

a.contact {
    color: #34A6FF;
}

a.contact:visited {
    color: #34A6FF;
}

a.contact:hover {
    color: #1f1f1f;
}

a.home:hover {
    color: #34A6FF;
}

a.officers:hover {
    color: #34A6FF;
}

a.practices:hover {
    color: #34A6FF;
}

a.racecalendar:hover {
    color: #34A6FF;
}

div.icons a {
    text-decoration: none;
    margin: 30px;
    font-size: 0;
}

a.facebook {
    padding: 0;
    margin: 0;
}

a.instagram {
    padding: 0;
    margin: 0;
}

a.gmail {
    padding: 0;
    margin: 0;
}
